<div class="container">
  <div class="register-box">
    <h2>Register</h2>
    <form (ngSubmit)="register(username, password, email)" #registerForm="ngForm" autocomplete="on">

      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="username" (ngModelChange)="onUsernameInput($event)"
        placeholder="Username" required autocomplete="username" maxlength="100" minlength="3" pattern="[a-zA-Z0-9_]+" />

      <div *ngIf="usernameExists === true" class="error-message" style="color: red;">
        Username already exists. Please choose another one.
      </div>

      <div *ngIf="usernameExists === false" class="success-message" style="color: green;">
        Username is available.
      </div>

      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Enter email" [(ngModel)]="email"
        (ngModelChange)="onEmailInput($event)" required autocomplete="email" maxlength="100" minlength="7"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" />

      <div *ngIf="emailExists === true" class="error-message" style="color: red;">
        Email already exists. Please choose another one.
      </div>

      <div *ngIf="emailExists === false" class="success-message" style="color: green;">
        Email is available.
      </div>



      <div *ngIf="emailExists === null" class="null-message">

      </div>

      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required
        autocomplete="current-password" maxlength="64" minlength="8" />

      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" placeholder="Confirm password" />


    </form>
    <p class="login-link">
      Already have an account? <a href="#">Login</a>
    </p>
  </div>
</div>