<div class="main-container">
  <h2>List of Numbers</h2>
  <input
  type="text"
  [(ngModel)]="numberInput"
  (ngModelChange)="onInputChange($event)"
  placeholder="Enter numbers separated by commas"
/>

  <table>
    <thead>
      <tr>
        <th>Natural Numbers</th>
        <th>Whole Numbers</th>
        <th>Real Numbers</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of indexArray">
        <td>{{ naturalNumbers[i] || '' }}</td>
        <td>{{ wholeNumbers[i] || '' }}</td>
        <td>{{ realNumbers[i] || '' }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Uncomment the following section if you want to display numbers in a list format -->
<!-- <ul>
  <li *ngFor="let num of numbers">{{ num }}</li>
</ul> -->

  <div class="number-list">
    <!--<span *ngFor="let num of numbers" class="number-item">{{ num }}</span>--->
  </div>

  <button (click)="clearNumbers()">Clear</button>
  <!-- <button (click)="sortNumbers()">Sort</button>
  <button (click)="reverseNumbers()">Reverse</button>
  <button (click)="shuffleNumbers()">Shuffle</button> --> 
</div>
